In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels

this is from the pep8 styleguide:

Function names should be lowercase, with words separated by underscores as necessary to improve readability.

Variable names follow the same convention as function names.

In [7]:
# therefore I suggest:

df = pd.DataFrame([1, 2, 3, 4, 5, 6])
df_nans = pd.DataFrame([1, np.nan, 3, 4, np.nan, 6])

# also I would not declare variables inside a class if they are not used inside the class. I think their scope would
# be limited to the class and that might not be in your interest?

Honestly I dont see a good reason to create a class yet for the functions you created, but as it was asked for 
I will follow along. But first I will look at the functions individually, then try to piece it together.

In [4]:
def print_nulls(df):
        """
        Check a dataframe for nulls, print them in a "pretty" format
        """

        # Find the number of nulls in each column
        nulls = df.isnull().sum()

        # Make a dataframe from the null series
        nulls_data = list(zip(nulls.index, nulls))
        nulls_columns = ['Column', 'Number of Missing Values']
        nulls_df = pd.DataFrame(nulls_data, columns=nulls_columns)

        # Set the index of the dataframe to the column name
        nulls_df = nulls_df.set_index('Column')

        return nulls_df

In [13]:
numbers = {"first" : [np.nan,1,2,3,4,5,0], "second": [1,2,np.nan,3,4,0,5]}

df_nans2 = pd.DataFrame(numbers, columns = ["first", "second"])

In [17]:
nulls = df_nans2.isnull().sum()

In [18]:
nulls_data = list(zip(nulls.index, nulls))
nulls_columns = ['Column', 'Number of Missing Values']
nulls_df = pd.DataFrame(nulls_data, columns=nulls_columns)
nulls_df = nulls_df.set_index('Column')

In [19]:
nulls_df

        Number of Missing Values
Column
first                          1
second                         1

I tested it for a dataframe with multiple columns - seems to be working well. I have nothing to add.

In [20]:
def add_list_to_df(list_to_add, df):
        """
        Take a list, turn into a Series, add it to a DataFrame as a new column
        """

        df = df.copy()

        # Convert list to Series
        new_series = pd.Series(list_to_add)

        # Add new Series to the dataframe
        df = pd.concat([df, new_series], axis=1, ignore_index=True)

        return df

In [ ]:
# I did the same thing, basically you could just do the following:

def add_list_to_dataframe(mylist, df):
    """
    Adds a list to pandas dataframe as a new column. Then returns the extended
    dataframe.

    """
    df["new_column"] = mylist
    return df

sry it is getting a bit late at my end so I will wrap it up here

In [21]:
class DataFrameUtils:
    """
    utility functions for working with DataFrames
    
    """
    
    def __init__(self):
        pass

    def print_nulls(self,df):
        """
        Check a dataframe for nulls, print them in a "pretty" format
        """

        # Find the number of nulls in each column
        nulls = df.isnull().sum()

        # Make a dataframe from the null series
        nulls_data = list(zip(nulls.index, nulls))
        nulls_columns = ['Column', 'Number of Missing Values']
        nulls_df = pd.DataFrame(nulls_data, columns=nulls_columns)

        # Set the index of the dataframe to the column name
        nulls_df = nulls_df.set_index('Column')

        return nulls_df

    def add_list_to_df(self,list_to_add, df):
        """
        Adds a list to pandas dataframe as a new column. Then returns the extended
        dataframe.
        """

        df["new_column"] = list_to_add
        return df

# I added the init method so a class can be instantiated and I added self as an argument to the functions 
# so that the functions actually get connected to the instantiated class (in my case first_try)

In [22]:
first_try = DataFrameUtils()

In [23]:
first_try.print_nulls(df_nans2)

        Number of Missing Values
Column
first                          1
second                         1